@import "tailwindcss";

:root {
  --background-light: #f5f8fa;
  --foreground-light: #213343;
  --background-dark: #0b141f;
  --foreground-dark: #f1f5f9;
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  color-scheme: light;
}

:root[data-theme="dark"] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
